

<div class="container">
    
    <style>
      
     img {
  border-radius: 300%;
  margin-right:350px;
}

        </style>
  <body>
      <table style="width:100%">
        
<table>
    


        <div class="top"> 
           
        <tr>
          <td><p class="solid">LIVHUWANI PHALANDWA</p></td>
         
          </tr><br>
          <tr>
              <td><p class> BUSINESS ANALYST</p></td>
             
              </tr>
        </div>
      
      </table>
      

              <img src="../assets/livhu.jpg">

   
        
        <table>
            <header> 
                <div class="vl"></div>
            <tr>
                <div id="textbox">
                    <p class="alignleft">.</p>
                    
                  </div>
              <td><p class="thick"> EXPERIENCE</p><br>

                <p>01 February 2018-31 May 2018</p><br>

              <p class="thick">Gijima Technologies
                <p> Business Analyst Learner <br>
                <li>Analyze a business scenario</li>
                 <li>Develop business case</li> 
                 <li>Compile user requirements specification</li> 
                 <li>Develop functional specs</li> 
                 <li>Monitor QA activities through the project life cycle</li> <br>
                </p>

                <p> 04 June 2018-31 January 2019<br>

              <p class="thick">Bidvest Bank
              <p>Business Analyst Learner <br>
                <li>Meetings with stakeholders</li>
                 <li>Eliciting requirements</li> 
                 <li>Writting user stories</li> 
                 <li>Testing Merline Online ordering(Manual Testing)</li> 
                 <li>Documenting</li> <br></p>
              </td>
       
              <div class="vl"></div>
              <td> 
              <p class="thick"> EDUCATION</p>
                <p>2012-2015<br>
                <p class="thick">NDip Information Technology<br>
                  <p>Vaal University of Technology</p><br>
                  <p>2017-2019<br>
                    <p class="thick">BTech Information Technology<br>
                      <p>Vaal University of Technology<br>
              </p>

                <!----Bar graph-->
                
                <p class="thick">SKILLS</p>
                
                <p>Testing(Manual)</p>
                <div class="container">
                <div class="Testing(Manual)">70%</div>
                </div>

                <p>Requirements gathering</p>
                <div class="container">
               <div class="Requirements gathering">80%</div>
               </div>

               <p>Problem solving</p>
               <div class="container">
               <div class="Problem solving">90%</div>
               </div>

              <p>Process Modelling</p>
              <div class="container">
               <div class="Process Modelling">70%</div>
               </div>
         <br>
               <p class="thick"> AWARDS</p>
                 <p>2012:CCNA Discovery:Networking for home and <br>
                  Small business<br>
                  2019:National cerificate Business analysis NQF level 6</p>
                  
                  
                  
              </td>
              
              </tr>

              <tr>
                  <td><p class="thick">ABOUT ME
                    <p>I am Livhuwani<br>
                    A Business analyst<br>
                    From Johannesburg<br>

                    I am a hard worker and i can work underpressure<br>
                    I can do the work and deliver results and i can<br>
                    be a great addtional to the team and i possess a<br>
                    combination of skills and experience that make <br>
                    me stand out from the crowd
                   


                  </p>
                  </td>
                  <div class="vl"></div>

                  <td><p class="thick">CONTACT</p>
                    <p>285 Pasteur Road<br>
                    Rembrandt Park<br>
                    2090<br>
                    Cell :0799406568<br>
                    Email Address p.livhue@gmail.com
                  </p>
                  
                 <p> <a href="#" class="fa fa-facebook"></a>Facebook.com/Livhuwani Phalandwa</p>
                 <p> <a href="#" class="fa fa-twitter"></a>@LivhuwaniPhalandwa</p>
                 <p><a href="#" class="fa fa-linkedin"></a>linkedin.com/livhuwaniPhalandwa</p>
                  </td>
                  </tr>
                </header>
                  <hr>
                 <footer>
                    <div id="footer">
                        <p class="thick">REFERENCES</p>
                     </div> 
                  <tr><td>
                    
                     <p class="thick"> Gudani Nangammbi<br>
                      <p>Senior Business Analyst<br>
                      0729220535<br>
                      Gudani.Nangammbi@bidvestbank.co.za<br>
                      </p>
                    </td>

                    <td>
                      <p class="thick"> Mpho Mathye<br>
                        <p>Facilitator<br>
                        0848263264<br>
                        Mpho.Mathye@gijima.com<br>
                      </td>
                    <td>
                        <p class="thick"> Shumani Phundulu<br>
                          <p>Teacher<br>
                          0846006086<br>
                        </td>
                  </tr>
                </footer>
            </table>


           

  
            

  
          
           
        </table>




















  </body>
</div>

<router-outlet></router-outlet>
